<template lang="">
    <div class="flex items-center bg-blue-400 w-screen h-screen">
       <div class="flex justify-center items-center text-20 bg-red-400 w-full h-12">

        Hello, Nuxt 3, Pinia, Tailwind
        <h1>{{ $t('hello', { name: 'vue-i18n' }) }}</h1>
    <form>
      <label for="locale-select">{{ $t('language') }}: </label>
      <select id="locale-select" v-model="$i18n.locale">
        <option value="en">en</option>
        <option value="fr">fr</option>
        <option value="ja">ja</option>
      </select>
    </form>
    </div>      
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="">
    
</style>